* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: Allura;
  src: url(../Fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(../Fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../Fonts/Roboto-Light.ttf);
}
body {
  font-family: Poppins, serif;
}
body h2 {
  font-family: Allura, sans-serif;
  color: rgb(201, 161, 75);
  font-size: clamp(1.5rem, 2vw, 2.5rem);
}
body h3 {
  font-size: clamp(1rem, 1.2vw, 1.4rem);
}
body p {
  font-size: clamp(0.5rem, 1vw, 1.5rem);
}

a {
  color: white;
  cursor: pointer;
}

i {
  font-size: clamp(1rem, 1.5vw, 2rem);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
i:hover {
  -webkit-transform: scale(2.05);
          transform: scale(2.05);
}

header {
  min-height: 100vh;
  background-image: url(../Imgs/bg-slider-06.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
header .header-top {
  min-height: 10vh;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
@media (max-width: 1300px) {
  header .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
header .header-top h1 {
  font-size: clamp(2rem, 2.5vw, 3rem);
  font-family: Allura, sans-serif;
  color: rgb(173, 169, 169);
}
header .header-top nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
header .header-top nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
@media (max-width: 800px) {
  header .header-top nav {
    display: none;
  }
}
header .header-top .social-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  width: 8%;
}
header .header-bottom {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
}
header .header-bottom .header-tittle h2 {
  font-size: clamp(3rem, 3.5vw, 4rem);
}
header .header-bottom .header-tittle h3 {
  font-size: clamp(2rem, 2.5vw, 3rem);
  text-transform: uppercase;
  color: rgb(173, 169, 169);
}
header .header-bottom .header-img {
  height: 50px;
  width: 50px;
  background-image: url(../Imgs/ic-plate-big.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 40px 0;
}
header .header-bottom .header-comment p {
  text-transform: uppercase;
}

main {
  background: rgb(49, 48, 48);
}
main .main-top {
  min-height: 400px;
  display: grid;
  grid-template-columns: 50% 50%;
  background: white;
}
@media (max-width: 600px) {
  main .main-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
main .main-top .mt-left {
  border: 1px dotted rgb(201, 161, 75);
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px;
}
main .main-top .mt-left .mt-img1 {
  height: 50px;
  width: 50px;
  background-image: url(../Imgs/ic-plate.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px 0;
}
main .main-top .mt-left .mt-img2 {
  height: 70px;
  width: 70px;
  border-radius: 150px;
  background-image: url(../Imgs/469218025_2867263606757805_2181642583290175945_n.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px 0;
}
main .main-top .mt-right {
  background-image: url(../Imgs/store-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 600px) {
  main .main-top .mt-right {
    display: none;
  }
}
main .main-center {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
main .main-center:after {
  content: "";
  position: absolute;
  min-height: 50vh;
  width: 100%;
  background-image: url(../Imgs/bg-menu-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 600px;
}
main .main-center .mc-img {
  height: 50px;
  width: 50px;
  background-image: url(../Imgs/ic-plate.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px 0;
}
main .main-center nav {
  width: 95%;
}
main .main-center nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .main-center nav ul li {
  border-bottom: 1px solid white;
}
main .main-center .main-table {
  border-radius: 10px;
  background: white;
  width: 80%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 1000;
}
@media (max-width: 850px) {
  main .main-center .main-table {
    display: grid;
    grid-template-columns: 1fr;
  }
}
main .main-center .main-table .mt {
  display: grid;
  grid-template-columns: 20% 60% 10%;
  gap: 20px;
  margin: 20px;
}
main .main-center .main-table .mt-Prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .main-center .main-table .mt-img01 {
  height: 100%;
  width: 100%;
  border-radius: 100px;
  background-image: url(../Imgs/dish-item-01.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
main .main-center .main-table .mt-img2 {
  height: 100%;
  width: 100%;
  border-radius: 100px;
  background-image: url(../Imgs/dish-item-02.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
main .main-center .main-table .mt-img3 {
  height: 100%;
  width: 100%;
  border-radius: 100px;
  background-image: url(../Imgs/dish-item-03.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
main .main-center .main-table .mt-img4 {
  height: 100%;
  width: 100%;
  border-radius: 100px;
  background-image: url(../Imgs/dish-item-04.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
main .main-center .main-table .mt-img5 {
  height: 100%;
  width: 100%;
  border-radius: 100px;
  background-image: url(../Imgs/dish-item-05.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
main .main-center .main-table .mt-img6 {
  height: 100%;
  width: 100%;
  border-radius: 100px;
  background-image: url(../Imgs/dish-item-06.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
main .main-center .main-table .mt-img7 {
  height: 100%;
  width: 100%;
  border-radius: 100px;
  background-image: url(../Imgs/dish-item-07.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
main .main-center .main-table .mt-img8 {
  height: 100%;
  width: 100%;
  border-radius: 100px;
  background-image: url(../Imgs/dish-item-08.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
main .main-center .main-table .mt-img9 {
  height: 100%;
  width: 100%;
  border-radius: 100px;
  background-image: url(../Imgs/dish-item-01.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
main .main-center .main-table .mt-img10 {
  height: 100%;
  width: 100%;
  border-radius: 100px;
  background-image: url(../Imgs/dish-item-02.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
main .main-bottom {
  min-height: 100vh;
}
main .main-bottom .mbt-img {
  height: 50px;
  width: 50px;
  background-image: url(../Imgs/ic-plate.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px 0;
}
main .main-bottom .mb-top {
  min-height: 50vh;
  background: black;
  display: grid;
  grid-template-columns: 30% 70%;
  width: 70%;
  margin: 0px auto;
}
@media (max-width: 1300px) {
  main .main-bottom .mb-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
main .main-bottom .mb-top .mbt-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
  border: 1px dotted white;
  margin: 10px;
  padding: 20px;
  min-height: 50px;
}
main .main-bottom .mb-top .mbt-left h3 {
  color: rgb(201, 161, 75);
}
main .main-bottom .mb-top .mbt-left .mbt-tittle h3 {
  color: white;
  text-transform: uppercase;
}
main .main-bottom .mb-top .mbt-left .mbt-day p {
  margin-bottom: 10px;
}
main .main-bottom .mb-top .mbt-right {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px;
}
main .main-bottom .mb-top .mbt-right h3 {
  text-transform: uppercase;
}
main .main-bottom .mb-top .mbt-right form {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
@media (max-width: 890px) {
  main .main-bottom .mb-top .mbt-right form {
    display: grid;
    grid-template-columns: 1fr;
  }
}
main .main-bottom .mb-top .mbt-right form input {
  border: none;
  border-bottom: 1px solid rgb(173, 169, 169);
  padding: 10px;
}
main .main-bottom .mb-top .mbt-right .mbt-btn button {
  padding: 10px 20px;
  cursor: pointer;
  background: black;
  color: white;
  border-radius: 10px;
  border: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
main .main-bottom .mb-top .mbt-right .mbt-btn button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: rgb(173, 169, 169);
  color: black;
}
main .mb-bottom {
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1300px) {
  main .mb-bottom {
    display: none;
  }
}
main .mb-bottom .mbb-tittle {
  text-align: center;
}
main .mb-bottom .mbb-tittle h3 {
  text-transform: uppercase;
  color: white;
}
main .mb-bottom .mbb-img {
  height: 50px;
  width: 50px;
  background-image: url(../Imgs/ic-plate.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px 0;
}
main .mb-bottom .mbb-table {
  padding: 20px;
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 20px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
main .mb-bottom .mbb-table .Table-left {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
main .mb-bottom .mbb-table .Table-left .Table {
  background: white;
  display: grid;
  grid-template-columns: 30% 70%;
}
main .mb-bottom .mbb-table .Table-left .Table .img1 {
  background-image: url(../Imgs/event-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .mb-bottom .mbb-table .Table-left .Table .img1 p {
  font-weight: bold;
  background: black;
  padding: 20px;
  color: white;
}
main .mb-bottom .mbb-table .Table-left .Table .img2 {
  background-image: url(../Imgs/event-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .mb-bottom .mbb-table .Table-left .Table .img2 p {
  font-weight: bold;
  background: black;
  padding: 20px;
  color: white;
}
main .mb-bottom .mbb-table .Table-left .Table .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
}
main .mb-bottom .mbb-table .Table-left .Table .comment p {
  color: rgb(173, 169, 169);
}
main .mb-bottom .mbb-table .Table-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../Imgs/event-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}
main .mb-bottom .mbb-table .Table-right .right-comment {
  background: white;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
main .mb-bottom .mbb-table .Table-right .right-comment .comment-top {
  background: black;
  color: white;
  margin-bottom: 40px;
  padding: 40px;
}
main .mb-bottom .mbb-table .Table-right .right-comment .comment-bottom p {
  color: rgb(173, 169, 169);
  margin-bottom: 60px;
}

footer {
  background: rgb(49, 48, 48);
  min-height: 100vh;
}
footer .footer-top {
  min-height: 70vh;
  padding-top: 100px;
  position: relative;
}
footer .footer-top:after {
  content: "";
  position: absolute;
  height: 500px;
  width: 100%;
  background-image: url(../Imgs/gmap.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: -250px;
}
footer .footer-top .description {
  background: white;
  border-radius: 10px;
  min-height: 300px;
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  text-align: center;
  position: relative;
  z-index: 1000;
}
footer .footer-top .description::after {
  content: "";
  position: absolute;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid white;
  background-image: url(../Imgs/469218025_2867263606757805_2181642583290175945_n.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
footer .footer-bottom {
  min-height: 30vh;
  display: grid;
  grid-template-columns: 50% 50%;
}
footer .footer-bottom .bottom-left {
  background: black;
  padding-left: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer-bottom .bottom-left p {
  color: rgb(173, 169, 169);
}
@media (max-width: 1300px) {
  footer .footer-bottom .bottom-left {
    display: none;
  }
}
footer .footer-bottom .bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 20px;
  border-top: 1px dotted black;
}
footer .footer-bottom .bottom-right form {
  display: grid;
  grid-template-rows: 1fr;
}
footer .footer-bottom .bottom-right form label {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: clamp(1rem, 1.2vw, 1.4rem);
}
footer .footer-bottom .bottom-right form input {
  width: 50%;
  padding: 10px 10px;
  background: none;
}
footer .footer-bottom .bottom-right .submit {
  margin: 20px 0;
}
footer .footer-bottom .bottom-right .submit input {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
footer .footer-bottom .bottom-right .submit input:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: rgb(201, 161, 75);
  color: black;
}
footer .footer-bottom .bottom-right .bt-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
}
footer .footer-bottom .bottom-right .bt-social .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}/*# sourceMappingURL=index.css.map */